[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
sqlalchemy-serializer = "*"
flask-restful = "*"
flask-cors = "*"
werkzeug = "*"
faker = "*"
flask-bcrypt = "*"
python-dotenv = "*"
uuid = "*"
flask-session = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.9"
